[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/pm3"]
	path = external/pm3
	url = https://github.com/martinbutt/pm3
